body{
    margin: 0;
    padding: 0;
}
header{
    height: 100%;
    width: 99%;
    padding: 5px;
}

 /* Style the navigation bar */
 .navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover { 
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
} 

.container {
    width: 100%;
    height: 600px;
    background-image: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.footer {
    color: red;
    background-color: #04AA6D;
}